:root {
    font-size: 16px;
    font-family: 'Nova Flat';
    --text-primary: #cfcfcf;
    --text-secondary: #ececec;
    --text-tester: white;
    --bg-primary: #32323e;
    --bg-secondary: #141418;
    --light-text-primary: black;
    --light-text-secondary: gray;
    --light-bg-1: white;
    --transition-speed: 600ms;
}
.name-title {
  margin: 5px;
  padding-left: 5px;
  font-size: 42px;
  font-family: 'Nova Flat';
  letter-spacing: .3ch;
  border: 1px solid purple;
  color: #ffb39b;
}
.mana-icon-purple {
    display: none;
    width: 45px;
    height: 45px;
  }
  .mana-icon{
    display: flex;
    color: #ffb39b;
    width: 45px;
    height: 45px;
  }
  .btn-image-one{
    background:none;
    border: none;
  }
  .btn-toggle{
    font-family: sans-serif;
    font-size: 16px;
    background: none;
    border: none;
    color:var(--text-primary);
    align-items: center;
    justify-content: center;
    display: flex;
    }
    .btn-text {
      font-family:'Nova Flat';
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      text-transform: uppercase;
      color: #ffb39b;
    }
    .duoicon-sun{
      display: none;
    }
    .duoicon-moon-stars{
      margin-left: 10px;
    }
    .drag-container {
        align-items: center;
        justify-content: center;
        align-content: center;
        border: 1px solid teal;
        margin-right: 10px;
    }
      .draggable-container {
        display: inline-flex;
        margin: 5px;
        cursor: pointer;
    }
    .header-container {
      border: 1px solid violet;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: var(--bg-secondary);
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 3;
      padding: 0;
      box-sizing: border-box; /* Include padding in height calculation */
      left: 5rem;
      margin-bottom: 5px;
    }
    

.container-1 {
    width: 100;
    display: flex;
    align-items: center;
    height: 100px;
    border: 1px solid green;
}
.about-1 {
    font-size: 42px;
    width: 60%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #ffb39b;
}
.about-2 {
  border-right: 1px solid #6f42b3;
  border-left: 1px solid #6f42b3;
  width: 18%;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffb39b;
  max-width: 100%;
  max-height: 100%;
}

.bgb-wiz {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%; /* Set the maximum width for the .bgb-wiz container */
  max-height: 100%; /* Set the maximum height for the .bgb-wiz container */

}

.bgb-wiz img {
  object-fit: cover;
  max-width: 100%; /* Set the maximum width for the image */
  max-height: 100%; /* Set the maximum height for the image */
}

.about-3 {
    
    color: #ffb39b;
    width: 22%;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
footer{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}
.container-2{
    display: flex;
}
.self-portrait{
    width: 600px;
    height: 500px;
    border-right: 1px solid #6649b8;
    padding-right: 3rem;
    min-width: 40%;
    
}
.selfPort {
    display: flex;
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin-left: 20px;
}
.portrait-list {
  max-width: 55%;
  flex-direction: column;
    display: flex;
    align-items: center;
    height: 100%; /* Fill the container vertically */
    border: 1px solid yellow;
    
}

.pic-list {
  
  border: 1px solid white;
  color: #ffb39b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Start from the top */
  height: 100; /* Fill the container vertically */
  width: 100;
  max-width: 100;
  overflow-y: auto;
  
}

.pic-list li {
  text-align: left;
  overflow-y: wrap;
  white-space: pre-line;
  margin: 0;
  letter-spacing: .15em;
  font-size: 25px;
  list-style-type: none; /* Remove the default bullet points */
  padding: 5px;
  height: auto; /* Adjust to fit content */
  position: relative;
  opacity: 0; /* Initially set opacity to 0 to hide the text */
  animation: fadeIn 3.5s ease forwards; /* Fade in the text */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Keep opacity at 0 initially */
  }
  100% {
    opacity: 1; /* Increase opacity to 1 at the end of animation */
  }
}


/*
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
*/


.pic-list :first-child {
    margin-top:100px;
    color: #ffb39b;
    margin-bottom: 60px;
}
.pic-list :last-child {
    margin-bottom: 60px;
    margin-top:60px;
    color: #ffb39b;
}

.container-3{
    padding-top: 5px;
    padding-bottom:5px;
    display: flex;
    border-top: solid 1px #6f42b3;
    border-bottom: solid 1px #6f42b3;
    margin-top: 10px;
    height: 1000px;
    width: 100%;
    
}
.about-text {
    max-width: 50%;
    color: var(--text-secondary);
    background-color: var(--bg-primary);
    height: 100;
    display: flex;
    font-size: 20px;
    width: 100;
    padding: 15px;
}

.secondary-holder{
border-left: 1px solid #6f42b3;
display: flex;
flex-direction: column;
max-width: 50%;
width: 100%;
max-height: 100%;
margin-left: 2px;
}
.secondary-about{
  color: #ffb39b;
  background-color: var(--bg-primary);
  display: flex;
  font-size: 20px;
  max-width: 50%;
  height: 100%;
  width: 100;
  padding-left: 5px;
  padding-top: 2px;
  

}
.tri-about{
    color: #ffb39b;
    background-color: var(--bg-primary);
    display: flex;
    font-size: 20px;
    max-width: 50%;
    width: 100%;
    height: 100%;
    padding-left:5px;
    padding-top:2px;
}

.third-holder{
  display: inline-flex;
  height: 50%;
  gap: 2px;
  margin-left: 2px;
  border-bottom: 1px solid #6f42b3;
  padding-bottom:4px;
}
.fourth-about{
  width:100;
  margin-top:2px;
  background-color: var(--bg-primary);
  color: var(--text-secondary);
  display: flex;
  max-height: 50%;
  height: 100%;
  max-width: 100%;
  margin-left: 2px;
  padding-left: 5px;
  padding-top: 2px;
}
/*BELOW IS FROM MAIN STYLES CSS HOME PAGE*/

body{
    color: white;
    background-color: #151515;
    margin: 0;
    padding: 0;
  }
  body.light-mode{
    background-color: var(--light-bg-1);
    color: var(--light-text-primary);
  }
  body.light-mode.transparent-bg {
    background-color: transparent;
  }
  body::-webkit-scrollbar{
    width: 0.25rem;
  }
  body::-webkit-scrollbar-track{
    background: #1e1e24;
  }
  body::-webkit-scrollbar-thumb{
    background: #6649b8
  }
.navbar{
  
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    z-index: 4;
  }
  .navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    z-index: 4;
  }
  .nav-item{
    width: 100%;
  }
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    z-index: 4;
  }
  .nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
    z-index: 4;
  }
  .link-text{
    display:none;
    margin-left: 1rem;
    color: #ffb39b;
  }
  .nav-link svg{
    min-width: 2rem;
    margin:0 1.5rem;
  }
  main{
    margin-left: 5rem;
    padding: 1rem;
  }
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
    
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
/*small screens*/
  
    @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
    
    .logo{
      display:none;
    }
    .navbar-nav{
      flex-direction: row;
    }
    .nav-link {
      justify-content: center;
    }
    .navbar:hover .link-text {
      display: none;
    }
    main {
      margin: 0;
      margin-bottom: 5px;
    }
    .header-container{
      /*do we need to resize header here to fit the top since the navbar has shifted to bottom of screen for small screens?*/
      left: 0;
    }
    .name-title {
      margin: 5px;
      padding-left: 5px;
      font-size: 22px;
      font-family: 'Nova Flat';
      letter-spacing: .3ch;
      border: 1px solid cyan;
      color: #ffb39b;
      max-width: 35%;
    }
    .container-1 {
        margin-top: 3rem;
        margin-bottom: 5px;
        padding: 10px;
    }
    .pic-list li{
      font-size: 16px;
    }
    }
    /*large screens*/
    @media only screen and (min-width:600px){
     
      .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover{
      width: 16rem;
    }
    .navbar:hover .logo svg{
      margin-left: 1rem;
    }
    .navbar:hover .link-text {
      display: inline;
      transition: opacity var(--transition-speed);
    }
    .container-1 {
        margin-top: 4rem;
        margin-bottom: 5px;
    }
    }

    
