:root {
    font-size: 16px;
    font-family: 'Nova Flat';
    --text-primary: #cfcfcf;
    --text-secondary: #ececec;
    --text-tester: white;
    --bg-primary: #32323e;
    --bg-secondary: #141418;
    --light-text-primary: black;
    --light-text-secondary: gray;
    --light-bg-1: white;
    --transition-speed: 600ms;
}
.name-title {
  margin: 5px;
  padding-left: 5px;
  font-size: 42px;
  font-family: 'Nova Flat';
  letter-spacing: .3ch;
  color: #ffb39b;
}
.mana-icon-purple {
    display: none;
    width: 45px;
    height: 45px;
  }
  .mana-icon{
    display: flex;
    color: #ffb39b;
    width: 45px;
    height: 45px;
  }
  .btn-image-one{
    background:none;
    border: none;
  }
  .btn-toggle{
    font-family: sans-serif;
    font-size: 16px;
    background: none;
    border: none;
    color:var(--text-primary);
    align-items: center;
    justify-content: center;
    display: flex;
    }
    .btn-text {
      font-family:'Nova Flat';
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      text-transform: uppercase;
      color: #ffb39b;
    }
    .duoicon-sun{
      display: none;
    }
    .duoicon-moon-stars{
      margin-left: 10px;
    }
    .drag-container {
        align-items: center;
        justify-content: center;
        align-content: center;
        
    }
      .draggable-container {
        display: inline-flex;
        margin: 5px;
        cursor: pointer;
    }
    .header-container {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: var(--bg-secondary);
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 3;
      padding: 0;
      box-sizing: border-box; /* Include padding in height calculation */
      left: 5rem;
      margin-bottom: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0.2, 0.8);
      
    }
    

.container-1 {
    width: 100;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #6f42b3;
}
.about-1 {
    font-size: 38px;
    width: 60%;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #ffb39b;
}
.about-2 {
  border-right: 1px solid #6f42b3;
  border-left: 1px solid #6f42b3;
  width: 18%;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffb39b;
  max-width: 100%;
  max-height: 100%;
}

.bgb-wiz {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%; /* Set the maximum width for the .bgb-wiz container */
  max-height: 100%; /* Set the maximum height for the .bgb-wiz container */

}

.bgb-wiz img {
  object-fit: cover;
  max-width: 100%; /* Set the maximum width for the image */
  max-height: 100%; /* Set the maximum height for the image */
}

.about-3 {
    
    color: #ffb39b;
    width: 22%;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
footer{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}
.container-2{
    display: inline-flex;
    flex-direction: row;
}
.bullet4{
  display: none;
}
.self-portrait{
    display: flex;
    flex: 1;
}
.self-portrait img{
  max-width: 100%;
  max-height: 100%;
  width: auto;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bullets{
  display: flex;
  flex-direction: column;
  width: auto;
  flex: 1;
  height: 100%;
  justify-content: space-around;
  color: #ffb39b;
  font-size: 22px;
  
  align-items: start;
}

.bullet1{
  margin-top: 50px; /*remove for small screen*/
  display: flex;
}
.bullet3{
  margin-bottom: 50px; /*remove for small screen*/
  display: flex;
}
.bullet1,.bullet2,.bullet3{
  margin-left: 20px;
  display: flex;
}
.portrait-list {
  margin-left: 10px;
  max-width: 55%;
  flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%; /* Fill the container vertically */
    
}
#item4{
  display: none;
}
.options-wrapper{
  display: flex;
  height: auto;
  width: auto;
  padding: 5px;
  justify-content: space-around;
  margin-top: 10px;
  border-bottom: 1px solid #af83f0;
  border-top: 1px solid #af83f0;
}
.options-wrapper :first-child{
  margin-left: 30px;
}
.options-wrapper :last-child{
  margin-right: 30px;
}
.options-wrapper button{
  background: none;
  color: #ffb39b;
  border: none;
  font-family: 'Nova Flat';
  font-size: 16px;
  text-transform: uppercase;
}
.options-wrapper button:hover{
  color: #af83f0;
}
.options-wrapper button.active{
  color: #af83f0;
}
.pic-list li {
  text-align: left;
  overflow-y: wrap;
  white-space: pre-line;
  margin: 0;
  letter-spacing: .15em;
  font-size: 25px;
  list-style-type: none; /* Remove the default bullet points */
  padding: 5px;
  height: auto; /* Adjust to fit content */
  position: relative;
  opacity: 0; /* Initially set opacity to 0 to hide the text */
  animation: fadeIn 3.5s ease forwards; /* Fade in the text */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Keep opacity at 0 initially */
  }
  100% {
    opacity: 1; /* Increase opacity to 1 at the end of animation */
  }
}


/*
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
*/

a.name-title {
  text-decoration: none; /* Remove the underline */
  /* Add any other styling you want for the link */
  color: #ffb39b; /* Text color */
  /* Add other styles as needed */
}

.pic-list :first-child {
    margin-top:100px;
    color: #ffb39b;
    margin-bottom: 60px;
}
.pic-list :last-child {
    margin-bottom: 60px;
    margin-top:60px;
    color: #ffb39b;
}
.new-container{
  display: flex;
  height: auto;
  width: 100%;
  font-size: 18px;
  color: #ffb39b;
  line-height: 1.5;
}
.about-left{
  display: flex;
  flex: 1;
  padding: 5px;
  background-color: var(--bg-primary);
  margin-right: 2px;
}
.about-right{
  margin-left: 2px;
  display: flex;
  flex: 1;
}
.about-right-1{
  display: flex;
  flex: 2;
  padding: 5px;
  margin-right: 2px;
  background-color: var(--bg-primary);
}
.about-right-2{
  margin-left: 2px;
  display: flex;
  flex: 2;
  background-color: var(--bg-primary);
  padding: 5px;
}
.page-wrapper1{
  height: auto;
  width: auto;
  display: flex;
  margin-top: 10px;
}
.page-wrapper2{
  height: auto;
  width: auto;
  display: none;
  margin-top: 10px;
  flex-direction: column;
}
.page-wrapper3{
  height: auto;
  width: auto;
  display: none;
  margin-top: 10px;
  flex-direction: column;
}
.fire-wrapper{
  display: flex;
  height: auto;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fire-title{
  display: flex;
  height: 100px;
  font-size: 28px;
  color: #eb3b2e;
  width:100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.fire-gif{
  display: flex;
  border: 2px solid black;
  width: 75%;
  height: 75%;
}
.gif-image{
  width: 100%;
  height: auto;
}
.hobby-wrapper {
  display: flex;
  height: auto; /* Allow it to adjust to content */
  width: auto;
}

.sports,
.design,
.gaming {
  display: flex;
  height: auto; /* Allow it to adjust to content */
  width: auto;
  flex: 1;
  background-color: var(--bg-primary);
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 2px;
  margin-right: 2px;
}

.sports-title,
.design-title,
.gaming-title {
  border-bottom: 1px solid #af83f0;
  width: 100%;
  height: 40px; /* Fixed height for titles */
  justify-content: center;
  align-items: center;
  display: flex;
}

.sports-script,
.design-script,
.gaming-script {
  display: flex;
  flex-grow: 1; /* Allow it to expand vertically */
  justify-content: center;
  text-align: center;
  width: 100%;
  color: #ffb39b;
  margin-top: 6px;
}

.art-bottom {
  height: 75px;
  width: auto;
  display: flex;
  margin-top: 2px;
  background-color: var(--bg-primary);
  margin-right: 2px;
  margin-left: 2px;
  
}





.container-3{
    padding-top: 5px;
    padding-bottom:5px;
    display: flex;
    border-top: solid 1px #6f42b3;
    border-bottom: solid 1px #6f42b3;
    margin-top: 10px;
    height: auto;
    width: 100%;
    overflow: hidden;
}
.about-text {
    color: var(--text-secondary);
    background-color: var(--bg-primary);
    height: 100%;
    display: flex;
    font-size: 20px;
    width: 100%;
    max-width: 95%;
    padding: 15px;
}

.secondary-holder{
display: flex;
flex-direction: column;
width: 100%;
max-height: 100%;
margin-left: 2px;

}
.secondary-about{
  color: #ffb39b;
  background-color: var(--bg-primary);
  display: flex;
  font-size: 20px;
  height: 100%;
  max-height: 100%;
  width: 100%;
  padding: 10px;
  white-space: pre-line;
  margin-left: 2px;
}
.tri-about{
    color: #ffb39b;
    background-color: var(--bg-primary);
    display: flex;
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
    white-space: pre-line;
}

.third-holder{
  display: inline-flex;
  height: auto;
  width: 100%;
  gap: 2px;
}

/*BELOW IS FROM MAIN STYLES CSS HOME PAGE*/

body{
    color: white;
    background-color: #151515;
    margin: 0;
    padding: 0;
  }
  body.light-mode{
    background-color: var(--light-bg-1);
    color: var(--light-text-primary);
  }
  body.light-mode.transparent-bg {
    background-color: transparent;
  }
  body::-webkit-scrollbar{
    width: 0.25rem;
  }
  body::-webkit-scrollbar-track{
    background: #1e1e24;
  }
  body::-webkit-scrollbar-thumb{
    background: #6649b8
  }
.navbar{
  
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    z-index: 4;
  }
  .navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    z-index: 4;
  }
  .nav-item{
    width: 100%;
  }
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    z-index: 4;
  }
  .nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
    z-index: 4;
  }
  .link-text{
    display:none;
    margin-left: 1rem;
    color: #ffb39b;
  }
  .nav-link svg{
    min-width: 2rem;
    margin:0 1.5rem;
  }
  main{
    margin-left: 5rem;
    padding: 1rem;
  }
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
    
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }
/*small screens*/
  
    @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
      box-shadow: 0 -2px 2px rgba(0, 0, 0.2, 0.8);
    }
    .bullets{
      align-items: center;
      text-align: center;
      display: inline-flex;
    }
    .about-right{
      display: flex;
      flex-direction: column;
    }
    .about-right-1{
      margin-right: 0;
      margin-bottom: 2px;
    }
    .about-right-2{
      margin-left: 0;
      margin-top: 2px;
    }
    .hobby-wrapper{
    flex-direction: column;
    }
    .sports,
.design,
.gaming {
  display: flex;
  height: auto; /* Allow it to adjust to content */
  width: auto;
  flex: 1;
  background-color: var(--bg-primary);
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2px;
  margin-bottom: 2px;
}


.logo{
  display:none;
}
.navbar-nav{
  flex-direction: row;
}
.nav-link {
  justify-content: center;
  filter: none;
}
.link-text{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .link-text{
  display: flex;
  font-family: 'Nova Flat';
  margin: 0;
}
.navbar svg{
  display: none;
  margin: 0;
  
}
.nav-item{
  border-right: 1px solid #af89f0;
  
}
.nav-item :last-child{
  border-right: none;
}
    main {
      margin: 0;
      margin-bottom: 5px;
    }
    .header-container{
      /*do we need to resize header here to fit the top since the navbar has shifted to bottom of screen for small screens?*/
      left: 0;
    }
    .name-title {
      margin: 5px;
      padding-left: 5px;
      font-size: 22px;
      font-family: 'Nova Flat';
      letter-spacing: .3ch;
      
      color: #ffb39b;
      max-width: 35%;
    }
    .container-1 {
        margin-top: 6rem;
        margin-bottom: 5px;
        padding: 10px;
    }
    .container-3 {
      flex-direction: column;
      padding: 5px;
      margin: 5px;
      justify-content: center;
      height: auto;
    }
    .secondary-holder{
      border-left: none;
      border-top: 1px solid #6f42b3;
      margin-left: 0px;
    }
    .third-holder{
      margin-top: 4px;
    }
    .secondary-about{
      height: auto;
      background-color: var(--bg-primary);
    }
    .tri-about{
      height: auto;
      background-color:var(--bg-primary);
    };
    
   
    .fourth-about{
      margin-top: 10px;
      height: 100%;
    }
    .fourth-square{
      height: 300px;
      width: 500px;
      background-color: #141418;
      text-align: center;
    }
    .about-text{
      height: 100%;
      width: 100%;
      margin-left: 3px;
      margin-bottom: 4px;
    }
    .about-1{
      border: none;
      
    }
    .pic-list li{
      font-size: 16px;
    }

    .container-2{
      display: flex;
      
  }
  .self-portrait{
    display: flex;
  }
  .wrapper{
    flex-direction: column;
  }
  .bullet1,.bullet2,.bullet3{
    display: none;
  }
  .bullet4{
    display: flex;
    font-size: 28px;
    color: #ffb39b;
  }
  .pic-list{
    display: flex;
    width: 100%;
    max-width: 95%;
    height: 40px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }
  
  #item1,#item2,#item3{
    background-color: #141418;
    height: 25%;
    width: 25%;
    display: none;
  }
  #item4 {
    display: inline-flex;
    font-size: 26px;
  }
  .portrait-list{
    display: flex;
    width: auto;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  }
    /*large screens*/
    @media only screen and (min-width:600px){
     
      .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover{
      width: 16rem;
    }
    .navbar:hover .logo svg{
      margin-left: 1rem;
    }
    .navbar:hover .link-text {
      display: inline;
      transition: opacity var(--transition-speed);
    }
    .container-1 {
        margin-top: 4rem;
        margin-bottom: 5px;
    }
    }

    
