.work-together4{
  display: none;
}
footer{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 18px;
  font-family: 'Nova Flat';
}
.rec-wrapper {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
}

.side-rec {
  display: flex;
  height: 100%;
  width: 50%;
  font-size: 32px;
  font-family: 'Chicle', serif;
  margin-right: 10px;
  padding-left: 2px;
  margin-left: 2px;
  transform-origin: 0 100%; /* Rotate around the bottom-left corner */
  justify-content: space-around;
  text-align: center;
  letter-spacing: .2ch;
  flex-direction: column;
}
.work-together1{
  display: flex;
  width: auto;
  height: 100%;
  
  color: #ffb39b;
  transform: rotate(-5deg); /* Adjust the degree value as needed */
  font-size: 66px;
  justify-content: center;
  text-shadow: -3px 4px 0px #b6490a;
}
.work-together2{
  display: flex;
  width: auto;
  height: 100%;
  
  transform: rotate(-5deg); /* Adjust the degree value as needed */
  font-size: 66px;
  justify-content: center;
}
.work-together3{
  display: flex;
  width: 100%;
  height: 100%;
  transform: rotate(-5deg); /* Adjust the degree value as needed */
  font-size: 66px;
  justify-content: center;
  color: #ffb39b;
  text-shadow: -3px 4px 0px #b6490a;
  margin-left: 10px;
}
.no-car-white{
  display: none;
}
.btn-image-one{
  background:none;
  border: none;
}
.btn-toggle{
  font-family: sans-serif;
  font-size: 16px;
  background: none;
  border: none;
  color:var(--text-primary);
  align-items: center;
  justify-content: center;
  display: flex;
  }
  .btn-text {
    font-family:'Nova Flat';
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    text-transform: uppercase;
    color: #141418;
  }
  .duoicon-sun{
    display: flex;
    margin-left: 10px;
    
  }
  .duoicon-sun path{
    fill: #141418;
  }
  .duoicon-moon-stars{
    margin-left: 10px;
    display: none;
  }
  .header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    padding: 0;
    box-sizing: border-box; /* Include padding in height calculation */
    left: 5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0.2, 0.8);
  }
  
.header-container{
  display: flex;
  align-items: center;
}
.head1{ 
margin: 5px;
padding-left: 5px;
font-size: 42px;
font-family: 'Nova Flat';
letter-spacing: .3ch;
color: #141418;

}

:root{
  font-size: 16px;
  font-family: 'Nova Flat';
  --text-primary: #141418;
  --text-secondary: #5a5a5a;
  --text-tester: white;
  --bg-primary: #f1f1f1;
  --bg-secondary: #dddddd;
  --light-text-primary: #141418;
  --light-text-secondary: gray;
  --light-bg-1: white;
  --transition-speed: 600ms;
}
body{
  color: var(--light-text-primary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
}
body.light-mode{
  background-color: var(--bg-primary);
  color: var(--light-text-primary);
}
body.light-mode.transparent-bg {
  background-color: transparent;
}
body::-webkit-scrollbar{
  width: 0.25rem;
}
body::-webkit-scrollbar-track{
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
  background: #6649b8
}
main{
  margin-left: 5rem;
  padding: 1rem;
}

.navbar{
  position: fixed;
  background-color: #D8E0E4;
  transition: width 200ms ease;
  z-index: 4;
}
.navbar-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  z-index: 4;
}
.nav-item{
  width: 100%;
}
.nav-item:last-child {
  margin-top: auto;
}

.nav-link{
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  z-index: 4;
}

.svg-nav path {
  fill: #513992; /* Use your desired color variable here */
}
.svg-top path {
  stroke: #513992;
}
.duoicon-secondary-layer,.duoicon-primary-layer{
  fill: #513992;
}
.nav-link:hover{
  filter: grayscale(0%) opacity(1);
  background: var(--bg-primary);
  color: var(--text-secondary);
  z-index: 4;
}
.link-text{
  display:none;
  margin-left: 1rem;
  color: #513992;
}
.nav-link svg{
  min-width: 2rem;
  margin:0 1.5rem;
}

.fa-primary{
  color: #ff7eee;
}
.fa-secondary{
  color: #df49a6;
}
.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-primary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

.h1{
  font-size: 30px;
  font-family: 'Nova Flat';
  letter-spacing: .2ch;
  margin-left: 5px;
  padding: 5px;
  color: #141418;

}
.rectangle {
  width: 100%;
  height: 300px; /* Adjust the height as needed */
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  text-align: center;
  position: relative;
  background: var(--bg-primary);
  overflow: hidden;
}
@keyframes slideIn {
  0% {
    left: 100%; /* Start position is off the right side of the container */
  }
  100% {
    left: 50%; /* Final position is centered */
  }
}
.small-box {
  /* Set the size of the small box */
  width: 100px; /* Adjust as needed */
  height: 70px; /* Adjust as needed */
  animation: slideIn 2s forwards;
  /* Position the small box in the center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Make sure it's above other elements if needed */
}
@keyframes moveCloud {
  0% {
    left: -50%; /* Start position is off the left side of the container */
  }
  100% {
    left: 100%; /* Final position is off the right side of the container */
  }
}
.cloud-box{
  animation: moveCloud 8s linear infinite;
  position: absolute;
  left: 0;
  top: 15%;
  height: 100px;
  width: 200px;
  background-image: url(cloudBig.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  
}
@keyframes moveCloudRight {
  0% {
    left: -20%; /* Start position is off the far right of the container */
  }
  100% {
    left: 100%; /* Return to the original position */
  }
}
.cloud2{
  animation: moveCloudRight 12s linear infinite;
  animation-delay: 3s;
  position: absolute;
  right: -20%;
  top: 65%;
  height: 30px;
  width: 80px;
  background-image: url(cloudLong.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.rectangle-text{
  display: flex;
  text-align: center;
  align-items: center;
  align-self: center;
  z-index: 3;
  top: 30%;
  position: absolute;
  font-size: 32px;
  font-family: 'Nova Flat';
  color: #141418;
  text-shadow: -1px -1px 0 #f1f1f1,  
               1px -1px 0 #f1f1f1,
              -1px 1px 0 #f1f1f1,
               1px 1px 0 #f1f1f1;
  
}
.car-one{
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.car-two,.no-car{
  display: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.drag-icon-1 path{
  fill: #141418;
}
.drag-icon-2 path{
  fill: #141418;
}
/* Change the fill color of the first path */
.drag-icon-2 path:nth-child(1) {
  fill: #f1f1f1 !important; /* Change this to your desired color */
}

.drag-icon-2 path:nth-child(2), .drag-icon-2 path:nth-child(3), .drag-icon-2 path:nth-child(4), .drag-icon-2 path:nth-child(5), .drag-icon-2 path:nth-child(6) {
  fill: #8F59A7 !important; /* Change this to your desired color */
}


.line-break-container {
  height: 150px;
  border-top: 2px solid #141418;
  margin-top: 15px;
  border-bottom: 2px solid #141418;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; 
  object-fit: contain;
  overflow: hidden;
}

.line-text{
  justify-content: center;
  text-align: center;
  font-size: 36px;
  display: flex;
  color: var(--light-text-primary);
  font-family: 'Nova Flat';
  z-index: 2;
  position: relative;
}
.break-image{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
  position: absolute;
  bottom: 0;
}

.animation-overlay {
  position: absolute;
  width: 25%;
  height: 25%;
  background-image: url('Img_05.png'); /* Use your car image URL */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  z-index: 3;
  animation: moveOverlay 15s linear infinite; /* Adjust animation duration as needed */
  bottom: 0;
}

@keyframes moveOverlay {
  0% {
    left: 100%; /* Start position - fully to the right */
  }
  100% {
    left: -100%; /* End position - fully to the left */
  }
}
/*small screens*/
@media only screen and (max-width: 600px) {
  .rec-wrapper{
    flex-direction: column;
  
  }
  .side-rec{
    flex-direction: row;
    width: 100%;
    margin-top: 5px;
  }
  .work-together1{
    display: none;
    width: auto;
    height: 100%;
    color: #ffb39b;
    transform: rotate(-5deg); /* Adjust the degree value as needed */
    font-size: 46px;
    justify-content: center;
    text-shadow: -3px 4px 0px #b6490a;
    margin-top: 1rem;
  }
  footer{
    margin-bottom: 10rem;
  }
  .navbar {
  bottom: 0;
  width: 100vw;
  height: 5rem;
  box-shadow: 0 -2px 1px rgba(0, 0, 0.2, 0.2);
}
.logo{
  display:none;
}
.work-together3{
  display: none;
}
.work-together4{
  display: flex;
  font-size: 36px;
  color: #ffb39b;
  text-shadow: -3px 4px 0px #b6490a;
}
.navbar-nav{
  flex-direction: row;
}
.nav-link {
  justify-content: center;
  filter: none;
}
.link-text{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #141418;
}
.navbar .link-text{
  display: flex;
  font-family: 'Nova Flat';
  margin: 0;
}
.navbar svg{
  display: none;
  margin: 0;
  
}
.nav-item{
  border-right: 1px solid #141418;
  
}
.nav-item :last-child{
  border-right: none;
}
.navbar:hover .link-text {
  display: none;
}
main {
  margin: 0;
  margin-bottom: 5px;
}
.header-container{
  /*do we need to resize header here to fit the top since the navbar has shifted to bottom of screen for small screens?*/
  left: 0;
  justify-content: space-between;
}
.head1{ 
  left: 0;
  font-size: 22px;
  font-family: 'Nova Flat';
  max-width: 35%;
  }
}

/*large screens*/
@media only screen and (min-width:600px){
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
}
.navbar:hover{
  width: 16rem;
}
.navbar:hover .logo svg{
  margin-left: 1rem;
}
.navbar:hover .link-text {
  display: inline;
  transition: opacity var(--transition-speed);
}
}

/*.checkbox-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
}*/

.row-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 10px;
  justify-content: space-between;
  margin-top: 20px;
  
}
.container-1{
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}
.container-2,.container-3,.container-4,.container-5,.container-6,.container-7{
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

.induction-title,.resume-title{
  color: var(--text-primary);
  margin-top: 20px;
  font-family: 'Nova Flat';
  text-transform: uppercase;
  font-size: 30px;
  text-decoration: underline;
  text-underline-offset: 7px;
}
.dnd-title,.container-4-title,.container-5-title,.container-6-title,.container-7-title {
  color: var(--text-primary);
  margin-top: 20px;
  font-family: 'Nova Flat';
  text-transform: uppercase;
  font-size: 33px;
  text-shadow: none;
  text-decoration: underline;
  text-underline-offset: 7px;
}
.induction-description,.resume-description,.container-4-description,.container-5-description,.container-6-description,.container-7-description {
  color: var(--text-primary);
  margin-bottom: 10px;
  font-family: 'Nova Flat';
}

.dnd-description{
  margin-bottom: 10px;
  color: var(--text-primary);
  font-family: 'Nova Flat';
}
.image-container-induction{
  display: flex;
  object-fit: contain;
  justify-content: center;
  justify-items: center;
  width: 75%;
  height: 50%;
}
.tarot-container, .tarot-container-2{
  display: none;
  object-fit: contain;
  justify-content: center;
  justify-items: center;
  width: 75%;
  height: 75%;
  margin-top: 10px;
}
.tarot-text-1{
  display: none;
  font-family: 'Nova Flat';
  font-size: 28px;
  letter-spacing: .30ch;
  color: #141418;
  transform: scaleX(-1);
  margin-bottom: 20px;
}
.image-container-resume{
  display: flex;
  object-fit: contain;
  justify-content: center;
  justify-items: center;
  width: 75%;
  height: 50%;
}
.image-container-dnd{
  display: flex;
  object-fit: contain;
  justify-content: center;
  justify-items: center;
  width: 75%;
  height: 50%;
}
.image-container-induction img,.image-container-resume img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.image-container-dnd img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.image-container-dnd svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.default-image{
  max-width: 100%;
  max-height: 100%;
  height: 200px;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.image-container-induction .hidden-tarot-1{
  display: none;
}
.image-container-induction .white-image, .image-container-induction .color-image {
  display: none;
}
.image-container-induction .default-image {
  display:block;
}
.image-container-dnd .default-dragon {
  display:block;
}
.image-container-dnd .white-dragon, .image-container-dnd .color-dragon {
  display: none;
}
.image-container-resume .white-resume {
  display: none;
}
.image-container-resume .default-resume {
  display: block;
}
.container-4-image .default-pc {
  display: flex;
  width: 200px;
  height: 200px;
}
.container-4-image .white-pc {
  display: none;
  width: 200px;
  height: 200px;
}
.container-1,.container-2,.container-3,.container-4,.container-5,.container-6,.container-7{
  background-color: #D8E0E4;
  flex: 1;
  height: 350px;
  display: flex;
}

.drag-container {
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
}
.draggable-container {
  display: inline-flex;
  margin: 5px;
  cursor: pointer;
}
.mana-icon{
  display: none;
  width: 45px;
  height: 45px;
}
.mana-icon-purple {
  display: flex;
  width: 45px;
  height: 45px;
}


@media (max-width: 900px) {
  .container-4,
  .container-5,
  .container-6,
  .container-7,
  .container-3,
  .container-2,
  .container-1 {
    width: 100%; /* Make them full width on small screens */
    margin: 5px 0; /* Add some vertical spacing between them */
  }

  .row-container {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); /* 3 columns on small screens */
  }
}

@media (max-width: 750px) {
  .row-container {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr)); /* 2 columns on even smaller screens */
  }
}

@media (max-width: 600px) {
  .row-container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /* Single column on the smallest screens */
  }
}
