/*
.checkbox-container{
  border-right: 2px solid teal;
  border-left: 2px solid teal;
  height: 50px;
  justify-content: center;
  display: flex;
}
*/
footer{
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.no-car-white {
  display: none;
}
.mana-icon-purple {
  display: none;
  width: 45px;
  height: 45px;
}
.mana-icon{
  display: flex;
  color: #ffb39b;
  width: 45px;
  height: 45px;
}
.btn-image-one{
  background:none;
  border: none;
}
.btn-toggle{
  font-family: sans-serif;
  font-size: 16px;
  background: none;
  border: none;
  color:var(--text-primary);
  align-items: center;
  justify-content: center;
  display: flex;
  }
  .btn-text {
    font-family:'Nova Flat';
    align-items: center;
    justify-content: center;
    margin-right: 70px;
    text-transform: uppercase;
    color: #ffb39b;
  }
  .duoicon-sun{
    display: none;
  }
  .duoicon-moon-stars{
    margin-left: 70px;
  }
  .header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    padding: 0;
    box-sizing: border-box; /* Include padding in height calculation */
    left: 5rem;
  }
  
.header-container{
  display: flex;
  align-items: center;

}
h1{ 
margin: 5px;
padding-left: 5px;
font-size: 42px;
font-family: 'Open Sans';
letter-spacing: .3ch;
color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ff7eee; 
}

:root{
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #cfcfcf;
  --text-secondary: #ececec;
  --text-tester: white;
  --bg-primary: #32323e;
  --bg-secondary: #141418;
  --light-text-primary: black;
  --light-text-secondary: gray;
  --light-bg-1: white;
  --transition-speed: 600ms;
}
body{
  color: white;
  background-color: #151515;
  margin: 0;
  padding: 0;
}
body.light-mode{
  background-color: var(--light-bg-1);
  color: var(--light-text-primary);
}
body.light-mode.transparent-bg {
  background-color: transparent;
}
body::-webkit-scrollbar{
  width: 0.25rem;
}
body::-webkit-scrollbar-track{
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
  background: #6649b8
}
main{
  margin-left: 5rem;
  padding: 1rem;
}

.navbar{
  
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
  z-index: 4;
}
.navbar-nav{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  z-index: 4;
}
.nav-item{
  width: 100%;
}
.nav-item:last-child {
  margin-top: auto;
}

.nav-link{
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  z-index: 4;
}
.nav-link:hover{
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
  z-index: 4;
}
.link-text{
  display:none;
  margin-left: 1rem;
  color: #ffb39b;
}
.nav-link svg{
  min-width: 2rem;
  margin:0 1.5rem;
}

.fa-primary{
  color: #ff7eee;
}
.fa-secondary{
  color: #df49a6;
}
.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
  
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

.h1{
  font-size: 30px;
  font-family: 'Nova Flat';
  letter-spacing: .2ch;
  margin-left: 5px;
  padding: 5px;
  color: #ffb39b;

}
.rectangle {
  width: 100%;
  height: 300px; /* Adjust the height as needed */
  z-index: 1;
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  text-align: center;
  position: relative;
}
.rectangle-text{
  display: none;
  text-align: center;
  align-items: center;
  align-self: center;
  z-index: 3;
  position: absolute;
  font-size: 32px;
  font-family: 'Nova Flat';
}
.car-one{
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.car-two,.no-car{
  display: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@keyframes fadeIn {
  from { opacity: 0;}
}
.lightning-animation {
  display: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  animation: fadeIn 100ms infinite alternate;
}
.line-break-container {
  height: 150px;
  border-top: 2px solid #ffb39b;
  margin-top: 15px;
  border-bottom: 2px solid #ffb39b;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
 
  object-fit: contain;
}
.line-text{
  justify-content: center;
  text-align: center;
  font-size: 36px;
  display: flex;
  color: #ffb39b;
  font-family: 'Nova Flat';
  z-index: 2;
  position: relative;
}
.break-image{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
  position: absolute;
  bottom: 0;
}

.animation-overlay {
  position: absolute;
  width: 25%;
  height: 25%;
  background-image: url('Img_05.png'); /* Use your car image URL */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  z-index: 3;
  animation: moveOverlay 15s linear infinite; /* Adjust animation duration as needed */
  bottom: 0;
}

@keyframes moveOverlay {
  0% {
    left: 100%; /* Start position - fully to the right */
  }
  100% {
    left: -100%; /* End position - fully to the left */
  }
}
/*small screens*/
@media only screen and (max-width: 600px) {
.navbar {
  bottom: 0;
  width: 100vw;
  height: 5rem;
}
.logo{
  display:none;
}
.navbar-nav{
  flex-direction: row;
}
.nav-link {
  justify-content: center;
}
.navbar:hover .link-text {
  display: none;
}
main {
  margin: 0;
  margin-bottom: 5px;
}
.header-container{
  /*do we need to resize header here to fit the top since the navbar has shifted to bottom of screen for small screens?*/
  left: 0;
}
}

/*large screens*/
@media only screen and (min-width:600px){
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
}
.navbar:hover{
  width: 16rem;
}
.navbar:hover .logo svg{
  margin-left: 1rem;
}
.navbar:hover .link-text {
  display: inline;
  transition: opacity var(--transition-speed);
}
}

/*.checkbox-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
}*/

.row-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 10px;
  justify-content: space-between;
  margin-top: 20px;
  
}
.container-1{
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}
.container-2,.container-3,.container-4,.container-5,.container-6,.container-7{
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

.induction-title,.resume-title,.container-4-title,.container-5-title{
  color: var(--bg-secondary);
  margin-top: 20px;
  font-family: 'Nova Flat';
  text-transform: uppercase;
  font-size: 30px;
  text-decoration: underline;
  text-underline-offset: 7px;
}
.dnd-title,.container-4-title,.container-5-title,.container-6-title,.container-7-title{
  color: var(--bg-secondary);
  margin-top: 20px;
  font-family: 'Nova Flat';
  text-transform: uppercase;
  font-size: 30px;
  text-shadow: none;
  text-decoration: underline;
  text-underline-offset: 7px;
}
.induction-description,.resume-description,.container-4-description,.container-5-description,.container-6-description,.container-7-description{
  color: var(--bg-secondary);
  margin-bottom: 10px;
  font-family: 'Nova Flat';
}
.dnd-description{
  margin-bottom: 10px;
  color: var(--bg-secondary);
  font-family: 'Nova Flat';
}
.image-container-induction{
  display: flex;
  object-fit: contain;
  justify-content: center;
  justify-items: center;
  width: 75%;
  height: 50%;
}
.tarot-container, .tarot-container-2{
  display: none;
  object-fit: contain;
  justify-content: center;
  justify-items: center;
  width: 75%;
  height: 75%;
  margin-top: 10px;
}
.tarot-text-1{
  display: none;
  font-family: 'Nova Flat';
  font-size: 28px;
  letter-spacing: .30ch;
  color: #141418;
  transform: scaleX(-1);
  margin-bottom: 20px;
}
.image-container-resume{
  display: flex;
  object-fit: contain;
  justify-content: center;
  justify-items: center;
  width: 75%;
  height: 50%;
}
.image-container-dnd{
  display: flex;
  object-fit: contain;
  justify-content: center;
  justify-items: center;
  width: 75%;
  height: 50%;
}
.image-container-induction img,.image-container-resume img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.image-container-dnd img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.image-container-dnd svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.image-container-induction .hidden-tarot-1{
  display: none;
}
.image-container-induction .white-image, .image-container-induction .color-image {
  display: none;
}
.image-container-induction .default-image {
  display:block;
}
.image-container-dnd .default-dragon {
  display:block;
}
.image-container-dnd .white-dragon, .image-container-dnd .color-dragon {
  display: none;
}
.image-container-resume .white-resume {
  display: none;
}
.image-container-resume .default-resume {
  display: block;
}
.container-4-image .default-pc {
  display: flex;
  width: 200px;
  height: 200px;
}
.container-4-image .white-pc {
  display: none;
  width: 200px;
  height: 200px;
}
.container-5-image .default-drawing{
  display: flex;
  width: 200px;
  height: 200px;
}
.container-1,.container-2,.container-3,.container-4,.container-5,.container-6,.container-7{
  background-color: #ffb39b;
  flex: 1;
  height: 350px;
  display: flex;
}
.drag-container {
  align-items: center;
  justify-content: center;
  align-content: center;
}
.draggable-container {
  display: inline-flex;
  margin: 5px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .container-4,
  .container-5,
  .container-6,
  .container-7,
  .container-3,
  .container-2,
  .container-1 {
    width: 100%; /* Make them full width on small screens */
    margin: 5px 0; /* Add some vertical spacing between them */
  }

  .row-container {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); /* 3 columns on small screens */
  }
}

@media (max-width: 750px) {
  .row-container {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr)); /* 2 columns on even smaller screens */
  }
}

@media (max-width: 600px) {
  .row-container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); /* Single column on the smallest screens */
  }
}
  